<div class="content">
  <div class="footer">
    <a class="up"><img src="../assets/img/icons/up.png" alt="scroll-up"
        (click)="setActive(0); scrollToTop()"></a>
    <div class="footer_child">
      <a (click)="setActive(0)">
        <img src="../assets/img/logo.png">
      </a>
      <div class="footer_links">
        <a routerLink="/imprint">Impressum</a>
        <a routerLink="/datenschutz">Datenschutz</a>
      </div>
    </div>
    <div>
      <span class="font16">© Hasan Altay 2023</span>
    </div>
    <div class="footer_icons">
      <a href="https://github.com/HasanAltay" target="_blank">
        <img src="../assets/img/icons/github.png" alt="Github Icon">
      </a>

      <a href="mailto:altay.developer@posteo.de?subject=from_Portfolio">
        <img src="../assets/img/icons/mail.png" alt="Mail Icon">
      </a>
      
      <a href="https://www.linkedin.com/in/hasanaltay"
        target="_blank">
        <img src="../assets/img/icons/linkedin.png" alt="Linkedin Icon">
      </a>
    </div>
  </div>

</div>

