<div class="content">
  <div class="background_glows">
    <img
      class="green_right"
      src="../assets/img/right_blue.png"
      alt="Glow in
    Background"
    />
    <img
      class="purple_left"
      src="../assets/img/purple2.png"
      alt="Glow in
    Background"
    />
  </div>

  <div class="footer">
    <div class="footer_child">
      <a (click)="setActive(0)">
        <img src="../assets/img/logo.png" />
      </a>
      <div class="footer_links">
        <a routerLink="/imprint" (click)="scrollToTop()">Impressum</a>
        <a routerLink="/datenschutz" (click)="scrollToTop()">Datenschutz</a>
      </div>
    </div>
    <div>
      <span class="font16">© Hasan Altay 2023</span>
    </div>
    <div class="footer_icons">
      <a href="https://github.com/HasanAltay" target="_blank">
        <img src="../assets/img/icons/github.png" alt="Github Icon" />
      </a>

      <a href="mailto:altay.developer@posteo.de?subject=from_Portfolio">
        <img src="../assets/img/icons/mail.png" alt="Mail Icon" />
      </a>

      <a href="https://www.linkedin.com/in/hasanaltay" target="_blank">
        <img src="../assets/img/icons/linkedin.png" alt="Linkedin Icon" />
      </a>
    </div>
  </div>
</div>
