.about_me_left {
  position: relative;
  display: flex;
  height: 100%;
  z-index: 4;
  padding-top: 100px;
  padding-left: 100px;
  padding-bottom: 200px;

  .about_text {
    display: flex;
    flex-direction: column;
    min-width: 500px;
    max-width: 500px;
    margin-right: 140px;
  }

  .double_row {
    display: flex;

    img {
      display: flex;
      justify-content: first baseline;
      align-items: center;
      padding: 5px 30px 30px 30px;
      height: 80px;
      transition: all 215ms ease-in-out;
      z-index: 4;

      &:hover {
        transform: scale(1.3);
        transition: all 215ms ease-in-out;
        filter: brightness(140%);
      }
    }
  }
}

.about_me_right {
  display: flex;
  width: 100%;
  padding-top: 40px;
  height: 100%;

  .img_circles {
    border-radius: 100%;
    border: solid 4px $lighter_blue;
    height: 350px;
    width: 350px;
  }
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}