.alink {
  text-decoration: none;
  color: white;

  &:hover {
    text-decoration: underline 3px solid;
  }
}

.mb-100 {
  margin-bottom: 100px;
}

.logo {
  cursor: pointer;
  img {
    display: flex;
    width: 60px;
  }

  span {
    font-size: 16px;
    color: white;
    text-decoration: none;
  }
}

.fd-column {
  flex-direction: column;
}

.mtop40 {
  margin-top: 50px;
}

.font23 {
  font-weight: 400;
  font-size: 23px;
}

.title_margin {
  margin-bottom: 220px;
}

.d-flex {
  display: flex;
}

.font32 {
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
}

.pl-100 {
  padding-right: 100px;
}

.pr-100_img {
  padding-right: 90px;
}

.pl-100_img {
  padding-left: 90px;
}

.txt-center {
  text-align: center;
}

.mb-10 {
  margin-bottom: 10px;
}