.title_txt {
  font-weight: 700;
  font-size: 90px;
  line-height: 120%;
  margin-bottom: 40px;
  white-space: nowrap;
  text-shadow: 
  -1px 2px 1px hsl(0,0%,52%), 
  -2px 4px 1px hsl(0,0%,54%), 
  -3px 6px 1px hsl(0,0%,56%), 
}

.subtitle_txt {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

.main {
  position: relative;
  background-image: url(../img/background_glow.png);
  background-repeat: no-repeat;
  background-position: top(-30px) left;
  height: calc(100vh - 100px);
  min-height: 700px;
  display: flex;
  margin-top: 100px;
  padding-left: 40px;
  padding-right: 100px;
  width: 100%;

  .portrait {
    margin-top: 40px;
    position: absolute;
    top: 0px;
    left: 80px;
    z-index: 1;
    visibility: visible;
  }

  .portrait_over {
    margin-top: 40px;
    position: absolute;
    top: 0px;
    left: 80px;
    z-index: 12;
    visibility: visible;
  }

  .title {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 30px;
    top: 140px;
    align-items: center;
    z-index: 12;
    white-space: nowrap;

    .title_child {
      display: flex;
      padding-right: 70px;
    }

    .iam {
      font-weight: 400;
      font-size: 5.3vw;
      writing-mode: vertical-lr;
      text-align: center;
      transform: rotate(-180deg);
      transform-origin: center center;
      text-indent: -8px;
      text-shadow: 
      -2px -1px 1px hsl(0,0%,52%), 
      -4px -2px 1px hsl(0,0%,54%), 
      -6px -3px 1px hsl(0,0%,56%), 
    }

    .name {
      font-weight: 700;
      font-size: 7vw;
      text-shadow: 
      -1px 2px 1px hsl(0,0%,52%), 
      -2px 4px 1px hsl(0,0%,54%), 
      -3px 6px 1px hsl(0,0%,56%), 
    }

    .jobtitle {
      margin-top: -10px;
      font-weight: 400;
      font-size: 4.2vw;
      color: $purple;
      background-clip: text;
      text-shadow: #68B9EE 3px 1px 16px;
    }

  }
}

.line_box {
  position: absolute;
  top: 230px;
  left: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  height: 1079px;
  object-fit: fill;
  background-image: url(../img/line.png);
  background-repeat: round;
  background-size: cover;
}

.line_mobile {
  display: none;
  max-height: 440px;
  min-height: 300px;
}

.scroll_down {
  position: absolute;
  right: 0;
  bottom: 70px;
  display: flex;
  align-items: center;
  transform: rotate(90deg);
  font-weight: 400;
  font-size: 23px;
  z-index: 5;
  animation: scroll_it 500ms normal forwards ease-in-out;
  animation-iteration-count: 3;

  @keyframes scroll_it {
    0% {
      transform: rotate(90deg) translateX(px)
    }

    25% {
      transform: rotate(90deg) translateX(-35px)
    }

    50% {
      transform: rotate(90deg) translateX(0px)
    }

    75% {
      transform: rotate(90deg) translateX(-35px)
    }

    100% {
      transform: rotate(90deg) translateX(0)
    }
  }
}

.w100p {
  width: 700px;
}