.title_txt {
  font-weight: 700;
  font-size: 90px;
  line-height: 120%;
  margin-bottom: 40px;
  white-space: nowrap;
}

.subtitle_txt {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

.main {
  position: relative;
  background-image: url(../img/background_glow.png);
  background-repeat: no-repeat;
  background-position: top(-30px) left;
  height: calc(100vh - 100px);
  min-height: 700px;
  display: flex;
  margin-top: 100px;
  padding-left: 40px;
  padding-right: 100px;
  width: 100%;

  .portrait {
    margin-top: 40px;
    position: absolute;
    top: 0px;
    left: 80px;
    z-index: 1;
    visibility: visible;
  }

  .portrait_over {
    margin-top: 40px;
    position: absolute;
    top: 0px;
    left: 80px;
    z-index: 12;
    visibility: visible;
  }

  .title {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 30px;
    top: 140px;
    align-items: center;
    z-index: 12;
    white-space: nowrap;

    .title_child {
      display: flex;
    }

    .iam {
      font-weight: 400;
      font-size: 5vw;
      writing-mode: vertical-lr;
      text-align: center;
      transform: rotate(-180deg);
      transform-origin: center center;
      text-indent: -8px;
    }

    .name {
      font-weight: 700;
      font-size: 7vw;
      line-height: 120%;
      padding-right: 70px;
    }

    .jobtitle {
      font-weight: 400;
      font-size: 4.1vw;
      line-height: 120%;
      color: $purple;
      background-clip: text;
      padding-right: 70px;
      -webkit-animation: glow 2s ease-in-out infinite alternate;
      -moz-animation: glow 2s ease-in-out infinite alternate;
      animation: glow 2s ease-in-out infinite alternate;

      @-webkit-keyframes glow {
        from {
          text-shadow: 0 0 30px #00bee8a1, 0 0 40px rgba(0, 190, 232, 0.603), 0 0 50px #00bee873, 0 0 60px #00bee871, 0 0 70px #00bee870;
        }

        to {
          text-shadow: 0 0 30px #181A31, 0 0 40px #181A31, 0 0 50px #181A31, 0 0 60px #181A31, 0 0 70px #181A31, 0 0 80px #181A31;
        }
      }

      @keyframes glow {
        from {
          text-shadow: 0 0 30px #00bee870, 0 0 40px rgba(0, 190, 232, 0.432), 0 0 50px #00bee873, 0 0 60px #00bee871, 0 0 70px #00bee870;
        }

        to {
          text-shadow: 0 0 30px #181A31, 0 0 40px #181A31, 0 0 50px #181A31, 0 0 60px #181A31, 0 0 70px #181A31, 0 0 80px #181A31;
        }
      }
    }

  }
}

.line_box {
  position: absolute;
  top: 230px;
  left: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  height: 1079px;
  object-fit: fill;
  background-image: url(../img/line.png);
  background-repeat: round;
  background-size: cover;
}

.line_mobile {
  display: none;
  max-height: 440px;
  min-height: 300px;
}

.scroll_down {
  position: absolute;
  right: 0;
  bottom: 70px;
  display: flex;
  align-items: center;
  transform: rotate(90deg);
  font-weight: 400;
  font-size: 23px;
  z-index: 5;
  animation: scroll_it 500ms normal forwards ease-in-out;
  animation-iteration-count: 3;

  @keyframes scroll_it {
    0% {
      transform: rotate(90deg) translateX(px)
    }

    25% {
      transform: rotate(90deg) translateX(-35px)
    }

    50% {
      transform: rotate(90deg) translateX(0px)
    }

    75% {
      transform: rotate(90deg) translateX(-35px)
    }

    100% {
      transform: rotate(90deg) translateX(0)
    }
  }
}

.w100p {
  width: 700px;
}