.burger_dropdown_menu {
  display: none;
  flex-direction: column;
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 70px;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  background-color: #191c50b0;
  width: 100vw;
  color: white;
  backdrop-filter: blur(16px);
  z-index: 98;

  div {
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 14vw;
    margin-right: 10vw;
  }

  a {
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 9vw;
    line-height: 120%;
  }
}

.burger_icon {
  align-items: center;
  justify-content: center;
  cursor: pointer;
  display: none;

  &:hover .burger_dropdown_menu {
    display: block;
  }
}

.navigation {
  position: fixed;
  max-width: 1600px;
  margin: 0 auto;
  width: 100vw;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
  height: 100px;
  z-index: 99;
  background-color: $bg_dark_blue;
  border-left: solid thin #21233D;
  border-right: solid thin #21233D;

  .nav_links {
    display: flex;
    gap: 40px;
    transition: all 215ms ease-in-out;

    .nav_active {
      a {
        color: $lighter_blue;
        text-decoration: underline $purple 3px;
        text-underline-position: under;
      }
    }

    a {
      text-decoration: none;
      color: white;
      font-weight: 400;
      font-size: 23px;
      line-height: 120%;

      &:hover {
        color: $lighter_blue;
        transition: all 215ms ease-in-out;
      }
    }
  }
}