.skills {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
  padding-left: 100px;
  padding-bottom: 200px;

  .skills_list {
    display: flex;
    width: 800px;
    min-width: 500px;
    flex-wrap: wrap;
    gap: 100px;
    margin-top: 160px;

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 90px;
      font-weight: 700;
      font-size: 16px;
      line-height: 120%;
    }

    img {
      margin-bottom: 10px;
      &:hover {
        animation: shake_it 333ms normal forwards ease-in-out;
        @keyframes shake_it {
          0% {
            transform: translateY(0)
          }
          25% {
            transform: translateY(-15px)
          }
          50% {
            transform: translateY(0px)
          }
          75% {
            transform: translateY(-15px)
          }
          100% {
            transform: translateY(0)
          }
        }
      }
    }
  }

  .skills_text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: center;
  
    span {
      margin-right: 20px;
      margin-left: 20px;
    }

    .skills_setup {
      width: 500px;
      font-weight: 700;
      font-size: 90px;
      line-height: 120%;
      margin-bottom: 40px;
      display: flex;
      flex-direction: row;

      &:after {
        content: "";
        flex: 1 1;
        border-bottom: 4px solid $purple;
        margin: auto;
        border-radius: 5px;
      }
    }

    .skills_button {
      margin-top: 60px;
      width: -moz-fit-content;
      width: fit-content;
      padding: 15px 30px;
      border-radius: 10px;
      box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
      background-color: $lighter_blue;
      font-weight: 400;
      font-size: 23px;
      line-height: 120%;
      cursor: pointer;
      color: white;
      transition: all 215ms ease-in-out;

      &:hover {
        transform: scale(1.1);
        transition: all 215ms ease-in-out;
        background-color: $purple;
        box-shadow: 0 0 5px $purple;
        text-shadow: 0 0 5px $purple;
      }
    
      &:active {
        transition: none;
        background-color: $purple;
        transform: scale(1);
        transition: all 215ms ease-in-out;
      }
    
      &::before {
        content: '';
        background: $purple;
        transition: .5s;
        transform: scale(.9);
        z-index: -1;
      }
    
      &:hover::before {
        transform: scale(1.1);
        box-shadow: 0 0 15px $purple;
      }
    }
  }
}