<div class="about_content" id="about_me">
  <div class="about_me_left" >
    <div class="about_text" data-aos="fade-right">
      <span class="title" data-aos="flip-down">About me</span>
      <span class="subtitle"
        >Hey there, I'm a Front-end Developer in Frankfurt, Germany. I'm your
        go-to guy for turning tricky ideas into cool web stuff. Aspiring Junior
        Web Developer. Check out my projects, skills, and give me a shout!
        Thanks for stopping by.
      </span>
      <div class="double_row">
        <img src="../assets/img/icons/bulb.png" alt="Bulb" />
        <span class="subtitle">
          I'm fluent in HTML, CSS, and JavaScript, with a side of Angular. I'm
          on a never-ending quest to stay sharp in the ever-evolving tech world.
        </span>
      </div>
      <div class="double_row">
        <img src="../assets/img/icons/puzzle.png" alt="Puzzle" />
        <span class="subtitle"
          >I craft website and app interfaces with style. From responsive
          layouts to slick visuals, I make sure it works like a charm and looks
          amazing.
        </span>
      </div>
    </div>
  </div>

  <div class="about_me_right color_line_green" data-aos="flip-down">
    <img
      class="img_circles"
      src="../assets/img/small_photo.png"
      alt="my_photo_small"
    />
  </div>
</div>
