<div class="content">
  <div class="about_me_left" id="about_me" data-aos="fade-right">
    <div class="about_text">
      <span class="title_txt" data-aos="flip-down">About me</span>
      <span class="subtitle_txt">Hello, I am a Front-end Developer
        based in Frankfurt, Germany. I take pride in my ability
        to solve problems and bring complex ideas to life
        through my work. I am eager to continue my career as a
        Junior Web Developer and am excited to share a selection
        of my most recent and notable projects on this website.
        Additionally, you can find information about my skills
        and experience here. Thank you for visiting my page.
        Please feel free to reach out to me if you have any
        questions or are interested in collaborating.
      </span>
      <div class="double_row">
        <img src="../assets/img/icons/bulb.png" alt="Bulb">
        <span class="subtitle_txt">I specialize in creating the
          user interface and visual design of websites and
          applications. This includes designing responsive
          layouts, integrating visual assets and ensuring the
          final product is both functional and aesthetically
          pleasing.
        </span>
      </div>
      <div class="double_row">
        <img src="../assets/img/icons/puzzle.png" alt="Puzzle">
        <span class="subtitle_txt">I have experience with HTML,
          CSS, JavaScript and frameworks such as Angular. I am
          committed to constantly learning and staying current
          with the latest developments in the field.
        </span>
      </div>
    </div>
    <div class="about_me_right color_line_green">
      <img class="img_circles" src="../assets/img/small_photo.png"
        alt="my_photo_small">
    </div>
  </div>
</div>