<div class="content z1">
  <div class="background_glows">
    <img
      class="purple_free"
      src="../assets/img/purple_glow.png"
      alt="Glow in
    Background"
    />
  </div>

  <div class="contact_main" id="contact">
    <div
      class="contact_titles"
      data-aos="flip-down"
      data-aos-offset="600"
      data-aos-easing="ease-in-sine"
    >
      <div class="line_purple_left_contact"></div>
      <span>Contact</span>
    </div>
    <div class="contact_child">
      <div class="contact_left" data-aos="fade-right">
        <span class="font32">Got a problem to solve?<br /><br /></span>
        <span class="subtitle_txt"
          >Contact me through this form, I am interested in hearing you, knowing
          your ideas and contributing to your projects with my work.
          <br /><br />
          Need a Frontend developer? <b>Contact me!</b>
        </span>
      </div>

      <form
        class="contact_right"
        action="https://formsubmit.co/cfacb4da8ef4bf8d3ed24ee90ff9e00d"
        method="POST"
        data-aos="fade-left"
      >
        <input name="name" placeholder="Your name" required />
        <input name="email" placeholder="Your email" required />
        <textarea
          placeholder="Your message"
          name="message"
          required
          maxlength="2500"
        ></textarea>
        <button type="submit" class="btn">Send message :)</button>
      </form>

      <a class="up"
        ><img
          src="../assets/img/icons/up.png"
          alt="scroll-up"
          (click)="setActive(0); scrollToTop()"
      /></a>
    </div>
  </div>
</div>
