<div class="content">
  <div class="main" id="main">
    <div class="portrait">
      <img src="../assets/img/photo_free.png" alt="my_photo" />
    </div>
    <div class="portrait_over">
      <img src="../assets/img/photo_free_over.png" alt="my_photo_2" />
    </div>
    <div class="title title_margin">
      <div class="title_child">
        <div class="iam">I am</div>
        <div id="scene">
          <div class="name">Hasan Altay</div>
          <div class="jobtitle">FRONTEND DEVELOPER</div>
        </div>
      </div>
      <div class="btn mtop40" (click)="scrollToContact(); setActive(0)">
        Let's talk!
      </div>
    </div>

    <img
      class="line_mobile"
      src="../src/assets/img/line_mobile_500.png"
      alt="Mobile
      Vector Image"
    />

    <div class="line_box">
      <div class="mail" id="mail">
        <div class="other_links">
          <div class="line_purple_left"></div>
          <a href="https://github.com/HasanAltay" target="_blank">
            <img src="../assets/img/icons/github.png" alt="Github Icon" />
          </a>
          <a href="mailto:altay.developer@posteo.de?subject=from_Portfolio">
            <img src="../assets/img/icons/mail.png" alt="Mail Icon" />
          </a>
          <a href="https://www.linkedin.com/in/hasanaltay" target="_blank">
            <img src="../assets/img/icons/linkedin.png" alt="Linkedin Icon" />
          </a>
        </div>
      </div>
    </div>
    <div class="scroll_down">
      <i>Scroll down</i
      ><img src="../assets/img/icons/arrow.png" alt="Scroll Down Eyecatcher" />
    </div>
  </div>

  <div class="background_glows">
    <img
      class="purple_right"
      src="../assets/img/purple4.png"
      alt="Glow in
      Background"
    />
    <img
      class="green_left"
      src="../assets/img/left_blue.png"
      alt="Glow in
      Background"
    />
  </div>
</div>
