<div class="content">
  <div class="main_bg_glow">
    <img src="../assets/img/background_glow.png" alt="" />
  </div>
  <div class="design_element">
    <img src="/assets/img/line.png" alt="" />
  </div>
  <div class="profile_image">
    <img src="../assets/img/profile.webp" alt="" />
  </div>

  <div class="main" id="main">
    <div class="title">
      <div class="name">Hasan Altay</div>
      <div class="jobtitle">WEB DEVELOPER</div>
      <div class="btn mtop40" (click)="scrollToContact(); setActive(0)">
        Let's talk!
      </div>
    </div>

    <div
      class="line_box"
      data-aos="fade-right"
      data-aos-offset="0"
      data-aos-easing="ease-in-sine"
    >
      <div class="mail" id="mail">
        <div class="other_links">
          <div class="line_purple_left"></div>
          <a href="https://github.com/HasanAltay" target="_blank">
            <img src="../assets/img/icons/github.png" alt="Github Icon" />
          </a>
          <a href="mailto:altay.developer@posteo.de?subject=from_Portfolio">
            <img src="../assets/img/icons/mail.png" alt="Mail Icon" />
          </a>
          <a href="https://www.linkedin.com/in/hasanaltay" target="_blank">
            <img src="../assets/img/icons/linkedin.png" alt="Linkedin Icon" />
          </a>
        </div>
      </div>
    </div>

    <div
      class="eyecatcher"
      data-aos="fade-in"
      data-aos-easing="linear"
      data-aos-duration="800"
      data-aos-offset="0"
      data-aos-delay="3000"
      data-aos-once="true"
    >
      <div class="scrollbar_border">
        <div class="scrollbar"></div>
      </div>
    </div>
  </div>

  <div class="background_glows">
    <img
      class="purple_right"
      src="../assets/img/purple4.png"
      alt="Glow in
      Background"
    />
  </div>
</div>
