@import "../app.component.scss";

.content {
  position: relative;
  height: 100vh;

  .main_bg_glow {
    position: absolute;
    right: calc(-40% + 700px);
    bottom: 0px;
    display: flex;
    justify-content: left;
    align-items: flex-end;
    box-sizing: content-box;
    width: 100%;
    height: 100%;
    z-index: 1;

    img {
      height: 100%;
      filter: opacity(60%);
      animation: rotate 60s linear infinite;
    }

    @keyframes rotate {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }

  .design_element {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: left;
    align-items: flex-end;
    width: 100%;
    height: 50%;
    z-index: 2;

    img {
      width: 100vw;
      min-width: 100vw;
      height: 100%;
    }
  }

  .profile_image {
    position: absolute;
    right: calc(-40% + 500px);
    bottom: 0px;
    display: flex;
    justify-content: left;
    align-items: flex-end;
    box-sizing: content-box;
    width: 100%;
    height: 100%;
    z-index: 1;

    img {
      height: 100%;
    }
  }

  .main {
    position: relative;
    height: calc(100vh - 100px);
    min-height: 650px;
    display: flex;
    margin-top: 100px;

    .title {
      display: flex;
      flex-direction: column;
      position: absolute;
      right: 90px;
      top: 220px;
      align-items: center;
      z-index: 12;
      white-space: nowrap;
      width: 42vw;
      box-sizing: border-box;

      .name {
        font-weight: 700;
        font-size: 68px;
      }

      .jobtitle {
        margin-top: -30px;
        font-weight: 400;
        font-size: 45px;
        color: $brightblue;
        background-clip: text;
      }
    }

    .line_box {
      position: absolute;
      bottom: 100px;
      left: 0;
      z-index: 8;

      .mail {
        height: 100%;
        display: flex;
        z-index: 3;

        .other_links {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 440px;

          .line_purple_left {
            background-color: $brightblue;
            height: 4px;
            border-radius: 0px 20px 20px 0px;
            width: 200px;
          }

          a {
            display: flex;
          }

          img {
            cursor: pointer;
            transition: all 215ms ease-in-out;
            height: 35px;

            &:hover {
              transform: scale(1.3);
              transition: all 215ms ease-in-out;
            }
          }
        }
      }
    }
  }

  @keyframes scrollUpDown {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(40px);
    }
    100% {
      transform: translateY(0);
    }
  }

  .eyecatcher {
    position: fixed;
    right: 100px;
    bottom: 100px;
    display: flex;
    z-index: 8;
    width: auto;
    opacity: 1;
    transition: opacity 0.5s;

    .scrollbar_border {
      border: 2px solid white;
      border-radius: 999px;
      width: 22px;
      height: 75px;
      display: flex;
      position: relative;

      .scrollbar {
        display: flex;
        position: absolute;
        top: 3px;
        left: 3px;
        background-color: $brightblue;
        border: none;
        border-radius: 999px;
        width: 12px;
        height: 25px;
        align-items: center;
        justify-content: center;
        animation: scrollUpDown 2s linear infinite;
      }
    }
  }

  .eyecatcher.hidden {
    opacity: 0;
    pointer-events: none;
  }
}
