<div class="skills_main">
  <img
    class="green_left"
    src="../assets/img/left_blue.png"
    alt=""
  />
  <div class="skills" id="skills">
    <span class="title color_line_purple" data-aos="flip-down">
      &nbsp;My Skills&nbsp;
    </span>

    <span class="subtitle">
      I have gained experience in building projects<br />
      with various front end technologies and concepts.
    </span>

    <div class="btn" (click)="scrollToContact(); setActive(0)">
      Get in touch
    </div>

    <div class="skills_list">
      <div class="skill_1" data-aos="zoom-in" data-aos-delay="0">
        <img
          src="../assets/img/icons/angular.png"
          class="Angular Icon"
        />Angular
      </div>
      <div class="skill_2" data-aos="zoom-in" data-aos-delay="50">
        <img
          src="../assets/img/icons/ts.png"
          class="TypeScript Icon"
        />TypeScript
      </div>
      <div class="skill_3" data-aos="zoom-in" data-aos-delay="100">
        <img
          src="../assets/img/icons/js.png"
          class="JavaScript Icon"
        />JavaScript
      </div>
      <div class="skill_4" data-aos="zoom-in" data-aos-delay="150">
        <img src="../assets/img/icons/html.png" class="HTML Icon" />HTML
      </div>
      <div class="skill_5" data-aos="zoom-in" data-aos-delay="200">
        <img src="../assets/img/icons/fire.png" class="Firebase Icon" />Firebase
      </div>
      <div class="skill_6" data-aos="zoom-in" data-aos-delay="250">
        <img src="../assets/img/icons/git.png" class="GIT Icon" />GIT
      </div>
      <div class="skill_7" data-aos="zoom-in" data-aos-delay="300">
        <img src="../assets/img/icons/css.png" class="CSS Icon" />CSS
      </div>
      <div class="skill_8" data-aos="zoom-in" data-aos-delay="350">
        <img src="../assets/img/icons/api.png" class="API Icon" />Rest-Api
      </div>
      <div class="skill_9" data-aos="zoom-in" data-aos-delay="400">
        <img src="../assets/img/icons/scrum.png" class="Scrum Icon" />Scrum
      </div>
      <div class="skill_10" data-aos="zoom-in" data-aos-delay="450">
        <img
          src="../assets/img/icons/mad.png"
          class="Material Desin Icon"
        />Material<br />Design
      </div>
    </div>
  </div>
</div>
