@import "../app.component.scss";

.skills_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-bottom: 200px;

  .green_left {
    position: absolute;
    left: 0px;
    top: 0px;
    filter: opacity(60%);
    z-index: 0;
  }

  .skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-left: 100px;
    text-align: center;
    width: 100%;
    z-index: 2;

    .title {
      font-weight: 700;
      font-size: 90px;
      line-height: 120%;
      margin-bottom: 40px;
      display: flex;
      align-items: center;
    }

    .subtitle {
      margin-bottom: 60px;
    }

    .skills_list {
      display: flex;
      justify-content: center;
      width: 100%;
      flex-wrap: wrap;
      gap: 80px;
      margin-top: 80px;
      max-width: 800px;

      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 90px;
        font-weight: 500;
        font-size: 16px;
        line-height: 120%;
      }

      img {
        width: auto;
        height: 48px;
        margin-bottom: 10px;
        &:hover {
          animation: shake_it 333ms normal forwards ease-in-out;
          @keyframes shake_it {
            0% {
              transform: translateY(0);
            }
            25% {
              transform: translateY(-15px);
            }
            50% {
              transform: translateY(0px);
            }
            75% {
              transform: translateY(-15px);
            }
            100% {
              transform: translateY(0);
            }
          }
        }
      }
    }

    .color_line_purple {
      display: flex;
      width: 100%;

      &:before {
        content: "";
        flex: 1 1;
        margin: auto;
      }

      &:after {
        content: "";
        flex: 1 1;
        border-bottom: 4px solid $brightblue;
        margin: auto;
        border-radius: 5px;
      }
    }
  }
}
