@import "../app.component.scss";

.portfolio-content {
  position: relative;
  height: 100%;
  padding-bottom: 200px;
}

.portfolio {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  padding-left: 100px;
  text-align: center;
  z-index: 10;

  .title {
    font-weight: 700;
    font-size: 90px;
    line-height: 120%;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
  }
}

.color_line_purple {
  display: flex;
  flex-direction: row;

  &:before,
  &:after {
    content: "";
    flex: 1 1;
    border-bottom: 4px solid $brightblue;
    margin: auto;
    border-radius: 5px;
  }
}

.color_line_green {
  display: flex;
  flex-direction: row;

  &:after {
    content: "";
    flex: 1 1;
    border-bottom: 4px solid $lighter_blue;
    margin: auto;
  }
}

.portfolio_list {
  display: flex;
  flex-direction: column;
  align-items: center;

  .portfolio_child {
    display: flex;
  }

  .portfolio_child_reverse {
    display: flex;
  }

  .txt_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    width: 450px;
  }

  .txt_block_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    width: 450px;
  }

  .t1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    color: $brightblue;
    margin-bottom: 10px;
  }

  .t2 {
    font-weight: 400;
    font-size: 23px;
    line-height: 120%;
    color: $light_blue;
    margin-bottom: 15px;
  }

  .t3 {
    font-weight: 300;
    font-size: 16px;
    line-height: 120%;
  }

  .fix_right {
    display: flex;
    align-items: flex-end;
  }

  .align_right {
    justify-content: right !important;
  }

  .portf_btns {
    display: flex;
    width: 310px;
    justify-content: space-between;
    margin-top: 25px;

    a {
      color: white;
      text-decoration: none;
    }

    .portfolio_btn {
      width: -moz-fit-content;
      width: fit-content;
      padding: 15px 30px;
      border-radius: 10px;
      background-color: $brightblue;
      font-weight: 400;
      font-size: 23px;
      line-height: 120%;
      cursor: pointer;
      transition: all 215ms ease-in-out;
      box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

      &:hover {
        transition: all 215ms ease-in-out;
        background-color: $light_blue;
        box-shadow: 0 0 5px $light_blue;
        text-shadow: 0 0 5px $light_blue;
      }

      &:active {
        transition: none;
        background-color: $brightblue;
      }

      &::before {
        content: "";
        background: $light_blue;
        transition: 0.5s;
        transform: scale(0.9);
        z-index: -1;
      }

      &:hover::before {
        transform: scale(1.1);
        box-shadow: 0 0 15px $light_blue;
      }
    }

    .portfolio_btn_bright {
      width: -moz-fit-content;
      width: fit-content;
      padding: 15px 30px;
      border-radius: 10px;
      background-color: $lavender;
      // border: 1px solid $green;
      font-weight: 400;
      font-size: 23px;
      line-height: 120%;
      cursor: pointer;
      transition: all 215ms ease-in-out;
      box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

      &:hover {
        transition: all 215ms ease-in-out;
        background-color: $light_blue;
        box-shadow: 0 0 5px $light_blue;
        text-shadow: 0 0 5px $light_blue;
      }

      &:active {
        transition: none;
        background-color: $brightblue;
      }

      &::before {
        content: "";
        background: $light_blue;
        transition: 0.5s;
        transform: scale(0.9);
        z-index: -1;
      }

      &:hover::before {
        transform: scale(1.1);
        box-shadow: 0 0 15px $light_blue;
      }
    }
  }
}
