<div class="content">
  <div class="portfolio" id="portfolio">
    <div class="portf-title">
      <span class="title_txt color_line_purple" data-aos="flip-down">&nbsp;Portfolio&nbsp;</span>
      <span class="subtitle_txt" id="portfolio_subtitle">This page
        is a sample of my work
        - please feel free to try them out.
      </span>
    </div>

    <div class="portfolio_list">

      <div class="portfolio_child">

        <div id="join_img" data-aos="fade-right">
          <img src="../assets/img/mac_join.png" alt="Join Project Icon"
            class="pr-100_img">
        </div>

        <div class="txt_block" id="join_txt" data-aos="fade-left">
          <span class="t1">Join</span>
          <span class="t2">Angular | TypeScript | HTML | SCSS |
            Firebase</span>
          <span class="t3">Task manager inspired by the Kanban
            System.
            Create and organize tasks using drag and drop
            functions,
            assign users and categories.</span>
          <div class="portf_btns">
            <a
              href="/portfolio-web/Kanban-Management-Tool/index.html"
              target="_blank">
              <div class="portfolio_btn">Live test</div>
            </a>
            <a
              href="https://github.com/HasanAltay/Kanban-Management-Tool.git"
              target="_blank">
              <div class="portfolio_btn_bright">Github</div>
            </a>
          </div>
        </div>

      </div>

      <div class="portfolio_child_reverse">
        <div class="txt_block_right fix_right pr-100_img"
          id="pollo_txt" data-aos="fade-right">
          <span class="t1">El Pollo Locco</span>
          <span class="t2">JavaScript | HTML | SCSS</span>
          <span class="t3">A simple Jump-and-Run game based on
            an
            object-oriented approach.
            Help Pepe to find coins and use salsa bottles to
            fight against the chickens.</span>
          <div class="portf_btns">
            <a href="/portfolio-web/EL-Pollo-Locco/index.html"
              target="_blank">
              <div class="portfolio_btn">Live test</div>
            </a>
            <a
              href="https://github.com/HasanAltay/El-Pollo-Loco"
              target="_blank">
              <div class="portfolio_btn_bright">Github</div>
            </a>
          </div>
        </div>
        <div id="pollo_img" data-aos="fade-left">
          <img src="../assets/img/mac_locco.png" alt="El Pollo Locco Project
            Icon"
            class="pr-100_img">
        </div>
      </div>

      <div class="portfolio_child">
        <div id="pokedex_img" data-aos="fade-right">
          <img src="../assets/img/mac_pokedex.png" alt="Pokedex Project Icon"
            class="pr-100_img">
        </div>
        <div class="txt_block" id="pokedex_txt" data-aos="fade-left">
          <span class="t1">Pokédex</span>
          <span class="t2">JavaScript | HTML | SCSS | Api</span>
          <span class="t3">Based on the PokéAPI a simple
            library
            that
            provides and catalogues pokemon information.</span>
          <div class="portf_btns">
            <a href="/portfolio-web/Pokedex/index.html"
              target="_blank">
              <div class="portfolio_btn">Live test</div>
            </a>
            <a href="https://github.com/HasanAltay/Pokedex"
              target="_blank">
              <div class="portfolio_btn_bright">Github</div>
            </a>
          </div>
        </div>
      </div>

      <div class="portfolio_child_reverse">

        <div class="txt_block_right fix_right pr-100_img"
          id="company_txt" data-aos="fade-right">
          <span class="t1">Portfolio Website</span>
          <span class="t2">Angular | TypeScript | HTML | SCSS</span>
          <span class="t3">Showcasing my skills with Angular-powered Portfolio Website.</span>
          <div class="portf_btns">
            <a
              href="/"
              target="_blank">
              <div class="portfolio_btn">Live test</div>
            </a>
            <a href="https://github.com/HasanAltay/Portfolio"
              target="_blank">
              <div class="portfolio_btn_bright">Github</div>
            </a>
          </div>
        </div>
        
        <div data-aos="fade-left">
          <img src="../assets/img/mac_portfolio.png" alt="Project Icon"
            id="company_img" class="pr-100_img">
        </div>

      </div>

    </div>
  </div>
</div>
