$bg_dark_blue: #141d2f;
$light_blue: #1cdae6;
$purple: #9747ff;
$brightblue: #2a95ed;
$green: #70e61c;
$dark_blue_trans: rgba(20, 29, 47, 0.8);
$lighter_blue: #00bee8;
$complementary_orange: #ffa500;
$light_gray: #dddddd;
$mint_green: #7fff7f;
$lavender: #645e91;
$coral: #ff5555;
$teal: #005050;

//  <--- PRESET BUTTONS ----------------------------------->

.btn {
  width: -moz-fit-content;
  width: fit-content;
  padding: 15px 30px;
  border-radius: 10px;
  background-color: $lighter_blue;
  font-weight: 400;
  font-size: 23px;
  line-height: 120%;
  color: white;
  border: none;
  cursor: pointer;
  transition: all 215ms ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

  &:hover {
    transition: all 215ms ease-in-out;
    background-color: $light_blue;
    box-shadow: 0 0 5px $light_blue;
    text-shadow: 0 0 5px $light_blue;
  }

  &:active {
    transition: none;
    background-color: $brightblue;
  }

  &::before {
    content: "";
    background: $light_blue;
    transition: 0.5s;
    transform: scale(0.9);
    z-index: -1;
  }

  &:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px $light_blue;
  }
}

//  <--- GLOBALS ----------------------------------->

.mb-20 {
  margin-bottom: 20px;
}

.alink {
  text-decoration: none;
  color: white;

  &:hover {
    text-decoration: underline 3px solid;
  }
}

.logo {
  cursor: pointer;
  img {
    display: flex;
    width: 51px;
  }

  span {
    font-size: 16px;
    color: white;
    text-decoration: none;
  }
}

.mtop40 {
  margin-top: 50px;
}

.font32 {
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
}

.pr-100_img {
  padding-right: 90px;
}

.txt-center {
  text-align: center;
}

.z1 {
  z-index: 1;
}

.h100 {
  height: calc(100vh - 290px);
}

.btn_tb60 {
  margin-top: 60px;
  margin-bottom: 60px;
}

// <--- BACKGROUND-GLOW ---------------------------->

.content {
  .background_glows {
    .purple_right {
      position: absolute;
      right: 0;
      top: 800px;
      z-index: 7;
      filter: opacity(80%);
    }

    .purple_free {
      position: absolute;
      left: 0;
      bottom: 1750px;
      z-index: 0;
      filter: opacity(40%);
    }

    .green_right {
      position: absolute;
      right: 0;
      bottom: 1000px;
      z-index: 0;
      filter: opacity(80%);
    }

    .purple_left {
      position: absolute;
      left: 0;
      bottom: 290px;
      z-index: 0;
      width: 100%;
      max-width: 400px;
      filter: opacity(80%);
    }
  }
}

//  <--- DATA PROTECTION AND IMPRINT ----------------------------------->

.success_main span {
  text-align: center;
  margin-top: 10vw;
  margin-bottom: 10vw;
}

.impressum_main {
  margin-top: 10px;
  padding: 100px;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
}

.impressum_main a {
  color: $brightblue;
  text-decoration: none;
  line-height: 120%;
}

.impressum_main h1 {
  line-height: 120%;
  margin-top: 60px;
}

.impressum_main h2 {
  line-height: 120%;
}

//  <--- RESPONSIVE ----------------------------------->

@media screen and (max-width: 1024px) {
  .eyecatcher {
    right: 40px !important;
    bottom: 40px !important;
  }

  .line_box {
    bottom: 50px !important;
  }

  .main {
    background-size: contain !important;
    background-position: bottom left !important;

    .title {
      width: 30vw !important;

      .name {
        font-size: 55px !important;
      }

      .jobtitle {
        margin-top: -25px !important;
        font-weight: 400;
        font-size: 35px !important;
        color: $brightblue;
        background-clip: text;
      }
    }
  }

  .content .navigation {
    padding-left: 30px;
    padding-right: 30px;
    margin: unset !important;
  }

  .about_me_left {
    .about_text {
      margin-right: 40px !important;
    }
  }

  .about_me_right {
    align-items: center !important;
    justify-content: center !important;
  }

  .portfolio-content {
    .portfolio {
      padding-left: unset;

      .portf-title {
        margin-left: unset;
      }

      .t3 {
        padding-left: 20px !important;
        padding-right: 20px !important;
      }

      .portfolio_list {
        margin-top: unset;
        margin-right: unset;
        display: flex;
        align-items: center;

        .fix_right {
          align-items: center;
        }

        .txt_block {
          padding-top: unset;
          text-align: center;
          align-items: center;
        }

        .txt_block_right {
          padding-top: unset;
          text-align: center;
        }

        .portfolio_child {
          flex-direction: column;
          margin-bottom: 40px;

          .pr-100_img {
            padding-right: unset;
          }
        }

        .portfolio_child_reverse {
          flex-direction: column-reverse;
          margin-bottom: 40px;

          .pr-100_img {
            padding-right: unset;
          }

          .align_right {
            justify-content: center !important;
          }
        }
      }
    }
  }

  .contact_main {
    margin-bottom: 100px;

    .up {
      bottom: -60px;
    }

    .contact_child {
      display: unset;

      .contact_left {
        width: unset;
        margin-bottom: 30px;
      }

      .contact_right {
        width: unset;
        padding-left: 100px;
      }
    }
  }

  .footer {
    height: 230px !important;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-left: unset;
    padding-right: unset;
    padding-top: 30px;
    padding-bottom: 30px;

    .footer_child {
      flex-direction: unset;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 5px;
        img {
          margin-right: unset;
          width: 24px;
        }
      }

      .footer_links {
        flex-direction: unset;
      }
    }
  }

  .impressum_main {
    padding: 30px !important;
    margin-top: 90px !important;
  }

  .purple_left {
    bottom: 150px !important;
  }

  body {
    -ms-overflow-style: none;
    scrollbar-width: none;
    /* for Internet Explorer, Edge */
    overflow-y: scroll;
    /* for Firefox */
  }

  body::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
  }
}

@media screen and (max-width: 999px) {
  .about_content {
    justify-content: center !important;
  }

  .about_me_left {
    padding-left: unset !important;
    width: unset !important;

    .about_text {
      min-width: unset !important;
      padding-left: 20px !important;
      padding-right: 20px !important;
    }
  }

  .about_me_right {
    width: 100% !important;
    justify-content: center !important;
    align-items: center !important;
    padding-bottom: 0px !important;
    padding-left: 30% !important;
    min-width: unset !important;
  }
}

@media screen and (max-width: 600px) {
  .eyecatcher {
    right: 20px !important;
    bottom: 50% !important;
  }

  .main_bg_glow {
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    width: min-content !important;
  }

  .design_element {
    img {
      width: min-content !important;
    }
  }

  .profile_image {
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    width: min-content !important;
  }

  .content {
    margin-top: -30px;

    .main {
      background-size: cover !important;
      background-position: unset !important;

      .title {
        right: unset !important;
        left: 50% 50% !important;
        bottom: 60px !important;
        top: unset !important;

        .btn {
          display: none;
        }

        .name {
          font-size: 50px !important;
        }

        .jobtitle {
          font-size: 30px !important;
          color: $brightblue;
        }
      }
    }
  }

  .line_box {
    display: none !important;
  }

  .about_me_left {
    .about_text {
      margin-right: 0px !important;
      padding-bottom: 0px !important;
      .title {
        font-size: 48px !important;
      }
    }
  }

  .about_me_right {
    padding-left: 20px !important;

    .img_circles {
      border-radius: 100%;
      border: solid 4px $lighter_blue;
      height: auto !important;
      width: calc(100vw - 40px) !important;
    }
  }

  .skills_main {
    padding-bottom: unset !important;

    .skills {
      padding-left: unset !important;
      padding-top: unset !important;

      .title {
        font-size: 48px !important;
      }

      .subtitle {
        padding-left: 20px !important;
        padding-right: 20px !important;
      }

      .skills_list {
        gap: 25px !important;

        div {
          width: 50px;
          height: 100px;
          font-weight: 300;
          font-size: 14px !important;	
        }

        img {
          height: 36px !important;
        }
      }
    }
  }

  .portfolio-content {
    padding-bottom: unset !important;
    .portfolio {
      padding-left: unset !important;
      .portf-title {
        .title {
          font-size: 48px !important;
        }
        .subtitle {
          padding-left: 20px !important;
          padding-right: 20px !important;
        }
      }
      .txt_block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        width: 100%!important;
      }
  
      .txt_block_right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: right;
        width: 100%!important;
      }

      .portfolio_list {
        .portfolio_child {
          div img {
            width: 100%;
          }
        }

        .portfolio_child_reverse {
          div img {
            width: 100%;
          }
        }
      }
    }
  }

  .mtop40 {
    margin-top: -120px;
  }

  .content {
    .purple_right {
      position: absolute;
      right: 0;
      top: 20px;
      z-index: -1;
    }

    .main {
      display: flex;
      justify-content: center;
      align-items: center;
      background-size: contain;
      min-height: unset;
      margin-top: 70px;

      .mtop40 {
        margin-top: 10px;
      }
    }

    .navigation {
      max-width: unset;
      width: 100vw;
      height: 70px;
      right: 0;
      background-color: #18243b;
      padding-left: 20px;
      padding-right: 0px;

      .ham {
        display: flex;
      }

      .nav_links {
        display: none;
      }
    }

    .title {
      top: unset;
      bottom: 40px;
    }

    .contact_main {
      padding-right: unset;
      margin-bottom: 80px;
      width: 100%;
      .up {
        right: 20px;
        bottom: 0px;
      }
      .contact_titles {
        margin-top: unset;
        margin-bottom: 50px;

        span {
          font-size: 60px;
          margin-left: 10px;
        }
      }

      .contact_child {
        display: unset;

        .contact_left {
          margin-bottom: 30px;
          margin-right: 20px;
          margin-left: 20px;

          .font32 {
            font-size: 23px;
          }
        }

        .contact_right {
          width: unset;
          padding-left: 20px;
          padding-right: 20px;
        }
      }
    }

    .impressum_main {
      padding: 20px !important;
      margin-top: 80px !important;
      font-weight: 200;
    }
  }
}
