<div class="content">

  <div class="navigation">
    <div class="logo" (click)="setActive(0); scrollToTop()">
      <img src="../assets/img/logo.png" alt="Portfolio-Logo (HA.)"
        data-aos="fade-down">
    </div>

    <div class="nav_links">
      <div id="about_btn" (click)="setActive(1)">
        <a href="#about_me">About me</a></div>
      <div id="skills_btn" (click)="setActive(2)">
        <a href="#skills">Skills</a></div>
      <div id="portfolio_btn" (click)="setActive(3)">
        <a href="#portfolio">Portfolio</a></div>
    </div>

    <div class="burger_icon">
      <img src="../assets/img/icons/burger.png" alt="Mobile Navigation Icon">
      <div class="burger_dropdown_menu" id="burger">
        <div>
          <div id="about_btn" onclick="HideOnClick()">
            <a href="#about_me">About me</a></div>
          <div id="skills_btn" onclick="HideOnClick()">
            <a href="#skills">Skills</a></div>
          <div id="portfolio_btn" onclick="HideOnClick()">
            <a href="#portfolio">Portfolio</a></div>
          <div id="portfolio_btn" onclick="HideOnClick()">
            <a href="#contact">Contact</a></div>
        </div>
      </div>
    </div>

  </div>

  <div class="main" id="main">
    <div class="portrait">
      <img src="../assets/img/photo_free.png" alt="my_photo">
    </div>
    <div class="portrait_over">
      <img src="../assets/img/photo_free_over.png" alt="my_photo_2">
    </div>
    <div class="title title_margin">
      <div class="title_child">
        <div class="iam">I am</div>
        <div id="scene">
          <div class="name">Hasan Altay</div>
          <div class="jobtitle">FRONTEND DEVELOPER</div>
        </div>
      </div>
      <div class="btn mtop40" (click)="scrollToContact();setActive(0)">Let's
        talk!</div>
    </div>

    <img class="line_mobile" src="../assets/img/line_mobile_500.png" alt="Mobile
      Vector Image">

    <div class="line_box">
      <div class="mail" id="mail">
        <div class="other_links">
          <div class="line_purple_left"></div>
          <a href="https://github.com/HasanAltay"
            target="_blank">
            <img src="../assets/img/icons/github.png" alt="Github Icon">
          </a>
          <a
            href="mailto:altay.developer@posteo.de?subject=from_Portfolio">
            <img src="../assets/img/icons/mail.png" alt="Mail Icon">
          </a>
          <a href="https://www.linkedin.com/in/hasanaltay"
            target="_blank">
            <img src="../assets/img/icons/linkedin.png" alt="Linkedin Icon">
          </a>
        </div>
      </div>
    </div>
    <div class="scroll_down"><i>Scroll down</i><img
        src="../assets/img/icons/arrow.png" alt="Scroll Down Eyecatcher">
    </div>
  </div>

  <div class="about_me_left" id="about_me" data-aos="fade-right">
    <div class="about_text">
      <span class="title_txt">About me</span>
      <span class="subtitle_txt">Hello, I am a Front-end Developer
        based in Frankfurt, Germany. I take pride in my ability
        to solve problems and bring complex ideas to life
        through my work. I am eager to continue my career as a
        Junior Web Developer and am excited to share a selection
        of my most recent and notable projects on this website.
        Additionally, you can find information about my skills
        and experience here. Thank you for visiting my page.
        Please feel free to reach out to me if you have any
        questions or are interested in collaborating.
      </span>
      <div class="double_row">
        <img src="../assets/img/icons/bulb.png" alt="Bulb">
        <span class="subtitle_txt">I specialize in creating the
          user interface and visual design of websites and
          applications. This includes designing responsive
          layouts, integrating visual assets and ensuring the
          final product is both functional and aesthetically
          pleasing.
        </span>
      </div>
      <div class="double_row">
        <img src="../assets/img/icons/puzzle.png" alt="Puzzle">
        <span class="subtitle_txt">I have experience with HTML,
          CSS, JavaScript and frameworks such as Angular. I am
          committed to constantly learning and staying current
          with the latest developments in the field.
        </span>
      </div>
    </div>
    <div class="about_me_right color_line_green">
      <img class="img_circles" src="../assets/img/small_photo.png"
        alt="my_photo_small">
    </div>
  </div>

  <div class="background_glows">
    <img class="purple_right" src="../assets/img/purple4.png" alt="Glow in
      Background">
    <img class="green_left" src="../assets/img/left_blue.png" alt="Glow in
      Background">
    <img class="purple_free" src="../assets/img/purple_glow.png" alt="Glow in
      Background">
    <img class="green_right" src="../assets/img/right_blue.png" alt="Glow in
      Background">
    <img class="purple_left" src="../assets/img/purple2.png" alt="Glow in
      Background">
    <img class="background_dots" src="../assets/img/polka-dot-background-.png"
      alt="Dots in Background">
  </div>

  <div class="skills" id="skills">
    <div class="skills_list">
      <div class="skill_1" data-aos="zoom-in" data-aos-delay="0">
        <img src="../assets/img/icons/angular.png" class="Angular Icon">Angular
      </div>
      <div class="skill_2" data-aos="zoom-in" data-aos-delay="50">
        <img src="../assets/img/icons/ts.png" class="TypeScript Icon">TypeScript
      </div>
      <div class="skill_3" data-aos="zoom-in" data-aos-delay="100">
        <img src="../assets/img/icons/js.png" class="JavaScript Icon">JavaScript
      </div>
      <div class="skill_4" data-aos="zoom-in" data-aos-delay="150">
        <img src="../assets/img/icons/html.png" class="HTML Icon">HTML
      </div>
      <div class="skill_5" data-aos="zoom-in" data-aos-delay="200">
        <img src="../assets/img/icons/fire.png" class="Firebase Icon">Firebase
      </div>
      <div class="skill_6" data-aos="zoom-in" data-aos-delay="250">
        <img src="../assets/img/icons/git.png" class="GIT Icon">GIT
      </div>
      <div class="skill_7" data-aos="zoom-in" data-aos-delay="300">
        <img src="../assets/img/icons/css.png" class="CSS Icon">CSS
      </div>
      <div class="skill_8" data-aos="zoom-in" data-aos-delay="350">
        <img src="../assets/img/icons/api.png" class="API Icon">Rest-Api
      </div>
      <div class="skill_9" data-aos="zoom-in" data-aos-delay="400">
        <img src="../assets/img/icons/scrum.png" class="Scrum Icon">Scrum
      </div>
      <div class="skill_10" data-aos="zoom-in" data-aos-delay="450">
        <img src="../assets/img/icons/mad.png" class="Material Desin Icon">Material<br>Design
      </div>
    </div>

    <div class="skills_text">
      <a class="skills_setup" data-aos="flip-down">My skills&nbsp;</a>
      <span class="subtitle_txt pl-100 center" id="skills_child">I
        have gained
        experience in building projects<br> with
        various front end technologies and concepts.
        <div class="skills_button" (click)="scrollToContact();setActive(0)">Get
          in touch
        </div>
      </span>
    </div>
  </div>

  <div class="portfolio" id="portfolio">
    <div class="portf-title">
      <span class="title_txt color_line_purple">&nbsp;Portfolio&nbsp;</span>
      <span class="subtitle_txt" id="portfolio_subtitle">This page
        is a sample of my work
        - please feel free to try them out.
      </span>
    </div>

    <div class="portfolio_list">
      <div class="portfolio_child">
        <div id="join_img" data-aos="fade-right">
          <img src="../assets/img/mac_join.png" alt="Join Project Icon"
            class="pr-100_img">
        </div>
        <div class="txt_block" id="join_txt" data-aos="fade-left">
          <span class="t1">Join</span>
          <span class="t2">Angular | TypeScript | HTML | CSS |
            Firebase</span>
          <span class="t3">Task manager inspired by the Kanban
            System.
            Create and organize tasks using drag and drop
            functions,
            assign users and categories.</span>
          <div class="portf_btns">
            <a
              href="./portfolio/Kanban-Management-Tool/index.html"
              target="_blank">
              <div class="portfolio_btn">Live test</div>
            </a>
            <a
              href="https://github.com/HasanAltay/Kanban-Management-Tool.git"
              target="_blank">
              <div class="portfolio_btn_bright">Github</div>
            </a>
          </div>
        </div>
      </div>

      <div class="portfolio_child_reverse">
        <div class="txt_block_right fix_right pr-100_img"
          id="pollo_txt" data-aos="fade-right">
          <span class="t1">El Pollo Locco</span>
          <span class="t2">JavaScript | HTML | CSS</span>
          <span class="t3">A simple Jump-and-Run game based on
            an
            object-oriented approach.
            Help Pepe to find coins and use salsa bottles to
            fight against the chickens.</span>
          <div class="portf_btns">
            <a href="./portfolio/EL-Pollo-Locco/index.html"
              target="_blank">
              <div class="portfolio_btn">Live test</div>
            </a>
            <a
              href="https://github.com/HasanAltay/El-Pollo-Loco"
              target="_blank">
              <div class="portfolio_btn_bright">Github</div>
            </a>
          </div>
        </div>
        <div id="pollo_img" data-aos="fade-left">
          <img src="../assets/img/mac_locco.png" alt="El Pollo Locco Project
            Icon"
            class="pr-100_img">
        </div>
      </div>

      <div class="portfolio_child">
        <div id="pokedex_img" data-aos="fade-right">
          <img src="../assets/img/mac_pokedex.png" alt="Pokedex Project Icon"
            class="pr-100_img">
        </div>
        <div class="txt_block" id="pokedex_txt" data-aos="fade-left">
          <span class="t1">Pokédex</span>
          <span class="t2">JavaScript | HTML | CSS | Api</span>
          <span class="t3">Based on the PokéAPI a simple
            library
            that
            provides and catalogues pokemon information.</span>
          <div class="portf_btns">
            <a href="./portfolio/Pokedex/index.html"
              target="_blank">
              <div class="portfolio_btn">Live test</div>
            </a>
            <a href="https://github.com/HasanAltay/Pokedex"
              target="_blank">
              <div class="portfolio_btn_bright">Github</div>
            </a>
          </div>
        </div>
      </div>

      <div class="portfolio_child_reverse">
        <div class="txt_block_right fix_right pr-100_img"
          id="company_txt" data-aos="fade-right">
          <span class="t1">Company Website</span>
          <span class="t2">JavaScript | HTML | CSS</span>
          <span class="t3">I constructed a website for a
            startup company based in Frankfurt.
            I was responsible for both the design and layout
            of the site.</span>
          <div class="portf_btns">
            <a
              href="./portfolio/CK-Energieberatung/index.html"
              target="_blank">
              <div class="portfolio_btn">Live test</div>
            </a>
            <a href="https://github.com/HasanAltay"
              target="_blank">
              <div class="portfolio_btn_bright">Github</div>
            </a>
          </div>
        </div>
        <div data-aos="fade-left">
          <img src="../assets/img/mac_bonus.png" alt="Project Icon"
            id="company_img" class="pr-100_img">
        </div>
      </div>

    </div>
  </div>

  <div class="contact_main" id="contact">

    <div class="contact_titles">
      <div class="line_purple_left_contact"></div>
      <span>Contact</span>
    </div>
    <div class="contact_child">

      <div class="contact_left" data-aos="fade-right">
        <span class="font32">Got a problem to solve?<br><br></span>
        <span class="subtitle_txt">Contact me through this form,
          I am interested in hearing you, knowing your ideas
          and contributing to your projects with my work.
          <br><br>
          Need a Frontend developer? <b>Contact me!</b>
        </span>
      </div>

      <form class="contact_right"
        action="https://formsubmit.co/cfacb4da8ef4bf8d3ed24ee90ff9e00d"
        method="POST" data-aos="fade-left">
        <input name="name" placeholder="Your name" required>
        <input name="email" placeholder="Your email" required>
        <textarea placeholder="Your message" name="message"
          required maxlength="2500"></textarea>
        <button type="submit" class="btn">Send message :)</button>
      </form>

    </div>
  </div>

  <div class="footer">
    <a class="up"><img src="../assets/img/icons/up.png" alt="scroll-up"
        (click)="setActive(0); scrollToTop()"></a>
    <div class="footer_child">
      <a (click)="setActive(0)">
        <img src="../assets/img/logo.png">
      </a>
      <div class="footer_links">
        <a href="../src/app/imprint/imprint.component.html">Impressum</a>
        <a href="../src/app/data-protection/data-protection.component.html">Datenschutz</a>
      </div>
    </div>
    <div>
      <span class="font16">© Hasan Altay 2023</span>
    </div>
    <div class="footer_icons">
      <a href="https://github.com/HasanAltay" target="_blank">
        <img src="../assets/img/icons/github.png" alt="Github Icon">
      </a>

      <a href="mailto:altay.developer@posteo.de?subject=from_Portfolio">
        <img src="../assets/img/icons/mail.png" alt="Mail Icon">
      </a>
      
      <a href="https://www.linkedin.com/in/hasanaltay"
        target="_blank">
        <img src="../assets/img/icons/linkedin.png" alt="Linkedin Icon">
      </a>
    </div>
  </div>
</div>