<div class="content z1 h100">
  <div class="impressum_main center">



    <h1>Impressum</h1>

    <span class="txt-center">
      Angaben gemäß Informationspflicht laut
      § 5 Telemediengesetz (TMG).<br><br>

      Hasan Altay<br><br>

      <b>Postanschrift:</b><br><br>

      Zur Obermühle 8A <br>60437
      Frankfurt am Main <br>Deutschland<br><br>
      <b>Kontakt:</b>

      <strong>Telefon: </strong>
      <a>+49 163 88 11 683<br></a>
      <strong>E-Mail: </strong>
      <a href="mailto:altay.developer@posteo.de">altay.developer@posteo.de<br><br></a>
      <strong>Berufsbezeichnung:</strong> Front-End Developer<br><br>
    </span>
    <a routerLink="" (click)="scrollToTop()">
      <button class="btn btn_tb60">Go Back!</button>
    </a>
  </div>
</div>
<app-footer></app-footer>