<div class="impressum_main">

  <a href="../index.htm">
      <button class="btn">Go Back!</button>
  </a>
      <h2 id="haftung-fuer-inhalte-dieser-webseite"
          class="adsimple-322391643">Haftung für Inhalte dieser
          Website</h2>
      <p>Wir entwickeln die Inhalte dieser Website ständig weiter und
          bemühen uns korrekte und aktuelle Informationen
          bereitzustellen. Leider können wir keine Haftung für die
          Korrektheit aller Inhalte auf dieser Website übernehmen,
          speziell für jene, die seitens Dritter bereitgestellt
          wurden. Als Diensteanbieter sind wir nicht verpflichtet, die
          von Ihnen übermittelten oder gespeicherten Informationen zu
          überwachen oder nach Umständen zu forschen, die auf eine
          rechtswidrige Tätigkeit hinweisen.</p>
      <p>Unsere Verpflichtungen zur Entfernung von Informationen oder
          zur Sperrung der Nutzung von Informationen nach den
          allgemeinen Gesetzen aufgrund von gerichtlichen oder
          behördlichen Anordnungen bleiben auch im Falle unserer
          Nichtverantwortlichkeit davon unberührt.</p>
      <p>Sollten Ihnen problematische oder rechtswidrige Inhalte
          auffallen, bitte wir Sie uns umgehend zu kontaktieren, damit
          wir die rechtswidrigen Inhalte entfernen können. Sie finden
          die Kontaktdaten im Impressum.</p>
      <h2 id="urheberrechtshinweis" class="adsimple-322391643">Urheberrechtshinweis</h2>
      <p>Alle Inhalte dieser Webseite (Bilder, Fotos, Texte, Videos)
          unterliegen dem Urheberrecht. Bitte fragen Sie uns bevor Sie
          die Inhalte dieser Website verbreiten, vervielfältigen oder
          verwerten wie zum Beispiel auf anderen Websites erneut
          veröffentlichen. Falls notwendig, werden wir die unerlaubte
          Nutzung von Teilen der Inhalte unserer Seite rechtlich
          verfolgen.</p>
      <p>Sollten Sie auf dieser Webseite Inhalte finden, die das
          Urheberrecht verletzen, bitten wir Sie uns zu kontaktieren.</p>
      <h2 id="bildernachweis" class="adsimple-322391643">Bildernachweis</h2>
      <p>Die Bilder, Fotos und Grafiken auf dieser Webseite sind
          urheberrechtlich geschützt.</p>

  <p>Alle Texte sind urheberrechtlich geschützt.</p>
  <p style="margin-top:15px">Quelle: Erstellt mit dem <a
          href="https://www.adsimple.de/impressum-generator/"
          title="Impressum Generator von AdSimple für Deutschland">Impressum
          Generator</a> von AdSimple</p>
  <h2 class="adsimple-322391643">Datenschutzerklärung</h2>
  <h2 id="einleitung-ueberblick" class="adsimple-322391643">Einleitung
      und Überblick</h2>
  <p>Wir haben diese Datenschutzerklärung (Fassung
      10.01.2023-322391643) verfasst, um Ihnen gemäß der Vorgaben der
      <a class="adsimple-322391643"
          href="https://eur-lex.europa.eu/legal-content/DE/TXT/HTML/?uri=CELEX:32016R0679&amp;from=DE&amp;tid=322391643#d1e2269-1-1"
          target="_blank" rel="noopener">Datenschutz-Grundverordnung
          (EU) 2016/679</a> und anwendbaren nationalen Gesetzen zu
      erklären, welche personenbezogenen Daten (kurz Daten) wir als
      Verantwortliche &#8211; und die von uns beauftragten
      Auftragsverarbeiter (z. B. Provider) &#8211; verarbeiten,
      zukünftig verarbeiten werden und welche rechtmäßigen
      Möglichkeiten Sie haben. Die verwendeten Begriffe sind
      geschlechtsneutral zu verstehen.<br />
      <strong class="adsimple-322391643">Kurz gesagt:</strong> Wir
      informieren Sie umfassend über Daten, die wir über Sie
      verarbeiten.</p>
  <p>Datenschutzerklärungen klingen für gewöhnlich sehr technisch und
      verwenden juristische Fachbegriffe. Diese Datenschutzerklärung
      soll Ihnen hingegen die wichtigsten Dinge so einfach und
      transparent wie möglich beschreiben. Soweit es der Transparenz
      förderlich ist, werden technische <strong
          class="adsimple-322391643">Begriffe leserfreundlich erklärt</strong>,
      Links zu weiterführenden Informationen geboten und <strong
          class="adsimple-322391643">Grafiken</strong> zum Einsatz
      gebracht. Wir informieren damit in klarer und einfacher Sprache,
      dass wir im Rahmen unserer Geschäftstätigkeiten nur dann
      personenbezogene Daten verarbeiten, wenn eine entsprechende
      gesetzliche Grundlage gegeben ist. Das ist sicher nicht möglich,
      wenn man möglichst knappe, unklare und juristisch-technische
      Erklärungen abgibt, so wie sie im Internet oft Standard sind,
      wenn es um Datenschutz geht. Ich hoffe, Sie finden die folgenden
      Erläuterungen interessant und informativ und vielleicht ist die
      eine oder andere Information dabei, die Sie noch nicht kannten.<br
          />
      Wenn trotzdem Fragen bleiben, möchten wir Sie bitten, sich an
      die unten bzw. im Impressum genannte verantwortliche Stelle zu
      wenden, den vorhandenen Links zu folgen und sich weitere
      Informationen auf Drittseiten anzusehen. Unsere Kontaktdaten
      finden Sie selbstverständlich auch im Impressum.</p>
  <h2 id="anwendungsbereich" class="adsimple-322391643">Anwendungsbereich</h2>
  <p>Diese Datenschutzerklärung gilt für alle von uns im Unternehmen
      verarbeiteten personenbezogenen Daten und für alle
      personenbezogenen Daten, die von uns beauftragte Firmen
      (Auftragsverarbeiter) verarbeiten. Mit personenbezogenen Daten
      meinen wir Informationen im Sinne des Art. 4 Nr. 1 DSGVO wie zum
      Beispiel Name, E-Mail-Adresse und postalische Anschrift einer
      Person. Die Verarbeitung personenbezogener Daten sorgt dafür,
      dass wir unsere Dienstleistungen und Produkte anbieten und
      abrechnen können, sei es online oder offline. Der
      Anwendungsbereich dieser Datenschutzerklärung umfasst:</p>
  <ul class="adsimple-322391643">
      <li class="adsimple-322391643">alle Onlineauftritte (Websites,
          Onlineshops), die wir betreiben</li>
      <li class="adsimple-322391643">Social Media Auftritte und
          E-Mail-Kommunikation</li>
      <li class="adsimple-322391643">mobile Apps für Smartphones und
          andere Geräte</li>
  </ul>
  <p>
      <strong class="adsimple-322391643">Kurz gesagt:</strong> Die
      Datenschutzerklärung gilt für alle Bereiche, in denen
      personenbezogene Daten im Unternehmen über die genannten Kanäle
      strukturiert verarbeitet werden. Sollten wir außerhalb dieser
      Kanäle mit Ihnen in Rechtsbeziehungen eintreten, werden wir Sie
      gegebenenfalls gesondert informieren.</p>
  <h2 id="rechte-dsgvo" class="adsimple-322391643">Rechte laut
      Datenschutz-Grundverordnung</h2>
  <p>Gemäß Artikel 13, 14 DSGVO informieren wir Sie über die folgenden
      Rechte, die Ihnen zustehen, damit es zu einer fairen und
      transparenten Verarbeitung von Daten kommt:</p>
  <ul class="adsimple-322391643">
      <li class="adsimple-322391643">Sie haben laut Artikel 15 DSGVO
          ein Auskunftsrecht darüber, ob wir Daten von Ihnen
          verarbeiten. Sollte das zutreffen, haben Sie Recht darauf
          eine Kopie der Daten zu erhalten und die folgenden
          Informationen zu erfahren:
          <ul class="adsimple-322391643">
              <li class="adsimple-322391643">zu welchem Zweck wir die
                  Verarbeitung durchführen;</li>
              <li class="adsimple-322391643">die Kategorien, also die
                  Arten von Daten, die verarbeitet werden;</li>
              <li class="adsimple-322391643">wer diese Daten erhält
                  und wenn die Daten an Drittländer übermittelt
                  werden, wie die Sicherheit garantiert werden kann;</li>
              <li class="adsimple-322391643">wie lange die Daten
                  gespeichert werden;</li>
              <li class="adsimple-322391643">das Bestehen des Rechts
                  auf Berichtigung, Löschung oder Einschränkung der
                  Verarbeitung und dem Widerspruchsrecht gegen die
                  Verarbeitung;</li>
              <li class="adsimple-322391643">dass Sie sich bei einer
                  Aufsichtsbehörde beschweren können (Links zu diesen
                  Behörden finden Sie weiter unten);</li>
              <li class="adsimple-322391643">die Herkunft der Daten,
                  wenn wir sie nicht bei Ihnen erhoben haben;</li>
              <li class="adsimple-322391643">ob Profiling durchgeführt
                  wird, ob also Daten automatisch ausgewertet werden,
                  um zu einem persönlichen Profil von Ihnen zu
                  gelangen.</li>
          </ul>
      </li>
      <li class="adsimple-322391643">Sie haben laut Artikel 16 DSGVO
          ein Recht auf Berichtigung der Daten, was bedeutet, dass wir
          Daten richtig stellen müssen, falls Sie Fehler finden.</li>
      <li class="adsimple-322391643">Sie haben laut Artikel 17 DSGVO
          das Recht auf Löschung („Recht auf Vergessenwerden“), was
          konkret bedeutet, dass Sie die Löschung Ihrer Daten
          verlangen dürfen.</li>
      <li class="adsimple-322391643">Sie haben laut Artikel 18 DSGVO
          das Recht auf Einschränkung der Verarbeitung, was bedeutet,
          dass wir die Daten nur mehr speichern dürfen aber nicht
          weiter verwenden.</li>
      <li class="adsimple-322391643">Sie haben laut Artikel 20 DSGVO
          das Recht auf Datenübertragbarkeit, was bedeutet, dass wir
          Ihnen auf Anfrage Ihre Daten in einem gängigen Format zur
          Verfügung stellen.</li>
      <li class="adsimple-322391643">Sie haben laut Artikel 21 DSGVO
          ein Widerspruchsrecht, welches nach Durchsetzung eine
          Änderung der Verarbeitung mit sich bringt.
          <ul class="adsimple-322391643">
              <li class="adsimple-322391643">Wenn die Verarbeitung
                  Ihrer Daten auf Artikel 6 Abs. 1 lit. e
                  (öffentliches Interesse, Ausübung öffentlicher
                  Gewalt) oder Artikel 6 Abs. 1 lit. f (berechtigtes
                  Interesse) basiert, können Sie gegen die
                  Verarbeitung Widerspruch einlegen. Wir prüfen danach
                  so rasch wie möglich, ob wir diesem Widerspruch
                  rechtlich nachkommen können.</li>
              <li class="adsimple-322391643">Werden Daten verwendet,
                  um Direktwerbung zu betreiben, können Sie jederzeit
                  gegen diese Art der Datenverarbeitung widersprechen.
                  Wir dürfen Ihre Daten danach nicht mehr für
                  Direktmarketing verwenden.</li>
              <li class="adsimple-322391643">Werden Daten verwendet,
                  um Profiling zu betreiben, können Sie jederzeit
                  gegen diese Art der Datenverarbeitung widersprechen.
                  Wir dürfen Ihre Daten danach nicht mehr für
                  Profiling verwenden.</li>
          </ul>
      </li>
      <li class="adsimple-322391643">Sie haben laut Artikel 22 DSGVO
          unter Umständen das Recht, nicht einer ausschließlich auf
          einer automatisierten Verarbeitung (zum Beispiel Profiling)
          beruhenden Entscheidung unterworfen zu werden.</li>
      <li class="adsimple-322391643">Sie haben laut Artikel 77 DSGVO
          das Recht auf Beschwerde. Das heißt, Sie können sich
          jederzeit bei der Datenschutzbehörde beschweren, wenn Sie
          der Meinung sind, dass die Datenverarbeitung von
          personenbezogenen Daten gegen die DSGVO verstößt.</li>
  </ul>
  <p>
      <strong class="adsimple-322391643">Kurz gesagt:</strong> Sie
      haben Rechte &#8211; zögern Sie nicht, die oben gelistete
      verantwortliche Stelle bei uns zu kontaktieren!</p>
  <p>Wenn Sie glauben, dass die Verarbeitung Ihrer Daten gegen das
      Datenschutzrecht verstößt oder Ihre datenschutzrechtlichen
      Ansprüche in sonst einer Weise verletzt worden sind, können Sie
      sich bei der Aufsichtsbehörde beschweren. Diese ist für
      Österreich die Datenschutzbehörde, deren Website Sie unter <a
          class="adsimple-322391643"
          href="https://www.dsb.gv.at/?tid=322391643" target="_blank"
          rel="noopener">https://www.dsb.gv.at/</a> finden. In
      Deutschland gibt es für jedes Bundesland einen
      Datenschutzbeauftragten. Für nähere Informationen können Sie
      sich an die <a class="adsimple-322391643"
          href="https://www.bfdi.bund.de/DE/Home/home_node.html"
          target="_blank" rel="noopener">Bundesbeauftragte für den
          Datenschutz und die Informationsfreiheit (BfDI)</a> wenden.
      Für unser Unternehmen ist die folgende lokale Datenschutzbehörde
      zuständig:</p>
  <p>Alle Texte sind urheberrechtlich geschützt.</p>
  <p style="margin-top:15px">Quelle: Erstellt mit dem <a
          href="https://www.adsimple.de/datenschutz-generator/"
          title="Datenschutz Generator von AdSimple für Deutschland">Datenschutz
          Generator</a> von AdSimple</p>

  <a href="../index.htm">
      <button class="btn">Go Back!</button>
  </a>
</div>
