@import '/src/fonts.scss';
@import '/src/app/app.component.scss';

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;

  /* Firefox */
  scrollbar-width: 8px;
  scrollbar-color: #2A95ED;

  /* WebKit */
  ::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #2A95ED;
    border-radius: 4px;
  }

  /* Internet Explorer */
  -ms-overflow-style: auto;
}

body, html {
  margin: 0 auto;
  background-color: $bg_dark_blue;
  color: white;
  max-width: 2560px;
  display: block;
  align-items: center;
  overflow-x: hidden;
  font-family: "Poppins";
}