@import '/src/assets/scss/fonts';
@import '/src/assets/scss/variables';
@import '/src/assets/scss/about';
@import '/src/assets/scss/buttons';
@import '/src/assets/scss/contact';
@import '/src/assets/scss/footer';
@import '/src/assets/scss/global';
@import '/src/assets/scss/glow';
@import '/src/assets/scss/main';
@import '/src/assets/scss/navigation';
@import '/src/assets/scss/portfolio';
@import '/src/assets/scss/responsive';
@import '/src/assets/scss/skills';
@import '/node_modules/aos/src/sass/aos.scss';

$bg_dark_blue: #141D2F;
$light_blue: #1CDAE6;
$purple: #9747FF;
$green: #70E61C;
$dark_blue_trans: rgba(20, 29, 47, 0.8);
$lighter_blue: #00BEE8;

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  scrollbar-width: auto;
  /* Firefox */
  scrollbar-color: #ffffff #ffffff;


  &::-webkit-scrollbar {
  /* Chrome, Edge, and Safari */
  width: 10px;
  background-color: transparent;
  }

  &::-webkit-scrollbar-track {
  // background-color: $bg_dark_blue;
  background-color: transparent;

  }

  &::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  }
}

body, html {
  margin: 0 auto;
  font-family: "Poppins";
  background-color: $bg_dark_blue;
  color: white;
  max-width: 1600px;
  display: block;
  align-items: center;
  overflow-x: hidden;
}

.content {
  position: relative;
}

.success_main {
  margin: 0 auto;
  font-weight: 700;
  line-height: 120%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8vw;
}

.success_main span {
  text-align: center;
  margin-top: 10vw;
  margin-bottom: 10vw;
}

.success_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  img {
      margin-top: 10vw;
  }
}

.btn {
  width: fit-content;
  padding: 15px 30px;
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: $lighter_blue;
  font-weight: 400;
  font-size: 23px;
  line-height: 120%;
  cursor: pointer;
  color: white;
  transition: all 215ms ease-in-out;
  border: none;

  &:hover {
      background-color: $purple;
      box-shadow: 0 0 5px $purple;
      text-shadow: 0 0 5px $purple;
      transform: scale(1.1);
      transition: all 215ms ease-in-out;
    }
  
    &:active {
      transition: none;
      background-color: $purple;
      transform: scale(1);
      transition: all 215ms ease-in-out;
    }
  
    &::before {
      content: '';
      background: $purple;
      transition: .5s;
      transform: scale(.9);
      z-index: -1;
    }
  
    &:hover::before {
      transform: scale(1.1);
      box-shadow: 0 0 15px $purple;
    }
}

.impressum_main {
  margin-top: 10px;
  padding: 100px;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
}

.impressum_main a {
  color: #9747FF;
  text-decoration: none;
  line-height: 120%;
}

.impressum_main h1 {
  line-height: 120%;
  margin-top: 60px;
}

.impressum_main h2 {
  line-height: 120%;
}